In [164]:
import pandas as pd
import nltk.corpus
import string
from nltk.corpus import stopwords
import json

jobs = pd.read_csv('jobsDB.csv')
data = json.load(open('keyword2.json'))

In [165]:
def getskills(strIn):
    liout = []
    strIn = strIn.lower()
    checker = strIn.split()
    for i in keyword_list:
        if i in checker:
            liout.append(i)
    return liout

    
stop_words = stopwords.words('english')
jobs['clean_job_description'] = jobs['job_description'].apply(lambda x: ' '.join([word.lower() for word in x.split() if word not in (stop_words)]))

,Unnamed: 0,job_title,company,job_description,clean_job_description
0,0,Research Associate (Computer Science/Informati...,Nanyang Technological University,['Carry out research in the field of recommend...,"['carry research field recommendation system, ..."
1,1,Linux Engineer,Horizon Manpower Service,['Proactively maintain and develop all Linux i...,['proactively maintain develop linux infrastru...
2,2,Project Manager - Management Information Syste...,Singapore Indian Development Association (SINDA),"['Study, recommend and implement a cybersecuri...","['study, recommend implement cybersecurity man..."
3,3,Senior Information Systems (IT) Auditor,KULICKE & SOFFA PTE. LTD.,['Prepares and reviews audit planning document...,"['prepares reviews audit planning documents, p..."
4,4,Information Technology Engineer [System Integr...,The Supreme HR Advisory Pte Ltd,['To perform post sales installation of produc...,['to perform post sales installation products/...

In [166]:
jobs['clean_job_description'] = jobs['clean_job_description'].str.replace('[^\w\s]','')

,Unnamed: 0,job_title,company,job_description,clean_job_description
0,0,Research Associate (Computer Science/Informati...,Nanyang Technological University,['Carry out research in the field of recommend...,carry research field recommendation system tex...
1,1,Linux Engineer,Horizon Manpower Service,['Proactively maintain and develop all Linux i...,proactively maintain develop linux infrastruct...
2,2,Project Manager - Management Information Syste...,Singapore Indian Development Association (SINDA),"['Study, recommend and implement a cybersecuri...",study recommend implement cybersecurity manage...
3,3,Senior Information Systems (IT) Auditor,KULICKE & SOFFA PTE. LTD.,['Prepares and reviews audit planning document...,prepares reviews audit planning documents proc...
4,4,Information Technology Engineer [System Integr...,The Supreme HR Advisory Pte Ltd,['To perform post sales installation of produc...,to perform post sales installation productssol...

In [167]:
keyword_list = data['skills']
def getskills(strIn):
    liout = []
    checker = s ztrIn.split()
    for i in keyword_list:
        if i in checker:
            liout.append(i)
    return liout
jobs['skills'] = jobs['clean_job_description'].apply(lambda x: getskills(x))

In [170]:
result = jobs

In [171]:
result.insert(loc=3, column='uppersalary', value=['' for i in range(result.shape[0])])
result.insert(loc=3, column='lowersalary', value=['' for i in range(result.shape[0])])
result.drop(result.columns[[0]], axis=1, inplace=True) 
result.drop(['job_description','clean_job_description'], axis=1, inplace=True)

In [174]:
result.to_parquet('cleanjobsdb.parquet')